{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}

    {% if boleta %}
    <br><br>
        <div class="row">
            <div class="col-6 text-right">
                <h1 class="titulos">
                    Boleta N° {{ boleta.nro_boleta }} de {{ boleta.cliente.usuario.first_name }} {{ boleta.cliente.usuario.last_name }}
                </h1>
            </div>
            <div class="col-6">
                <div class="cuadro-amarillo" style="background-color: #e3d400;">
                    <table class="mb-3" style="float: right">
                        <tr>
                            <td class="td_img_estado_boleta"> 
                                <img style="width:100px;" src="{% static 'core/img/vendido.png' %}">
                            </td>
                            <td class="td_img_estado_boleta"> 
                                <img style="width:100px;" src="{% static 'core/img/despachado.webp' %}">
                            </td>
                            <td class="td_img_estado_boleta"> 
                                <img style="width:90px;" src="{% static 'core/img/entregado.png' %}">
                            </td>
                        </tr>
                        <tr>
                            <td class="td_fec_estado_boleta" style="color: #029f07 !important;"> 
                                <strong>Vendido</strong> <br> 
                                <strong>{{ boleta.fecha_venta|formatear_fecha }}</strong>
                            </td>
                            <td class="td_fec_estado_boleta" style="color: #0a795e !important;"> 
                                <strong>Despachado</strong> <br> 
                                <strong>{{ boleta.fecha_despacho|formatear_fecha }}</strong>
                            </td>
                            <td class="td_fec_estado_boleta" style="color: #a93370 !important;"> 
                                <strong>Entregado</strong> <br> 
                                <strong>{{ boleta.fecha_entrega|formatear_fecha }}</strong>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            
        </div>
        
        <table class="table table-hover">
            <thead class="tabla_carrito">
                <tr>
                    <th>Categoría</th>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Descuento Subscriptor</th>
                    <th>Descuento Oferta</th>
                    <th>Descuento Total</th>
                    <th>Descuentos</th>
                    <th>Precio a Pagar</th>
                </tr>
            </thead>
            <tbody class="tabla_carrito">
                {% for item in detalle_boleta %}
                    <tr>
                        <td class="buscar_domicilio">{{ item.bodega.producto.categoria.nombre }}</td>
                        <td class="buscar_domicilio">{{ item.bodega.producto.nombre }}</td>
                        <td class="buscar_domicilio">{{ item.precio|formatear_dinero }}</td>
                        <td class="buscar_domicilio">{{ item.descuento_subscriptor|formatear_porcentaje }}</td>
                        <td class="buscar_domicilio">{{ item.descuento_oferta|formatear_porcentaje }}</td>
                        <td class="buscar_domicilio">{{ item.descuento_total|formatear_porcentaje }}</td>
                        <td class="buscar_domicilio">{{ item.descuentos|formatear_dinero }}</td>
                        <td class="buscar_domicilio">{{ item.precio_a_pagar|formatear_dinero }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <div class="row">
            <div class="col-12 text-right">
                <p>
                    <span style="font-weight: bold; background-color:red; color: black; border: 2px solid #ac2828; 
                    padding: 5px; display: inline-block; border-radius: 10px;">Monto sin IVA:</span> 
                    <span style="background-color:#f38266; color: black; border: 3px solid #ac2828; 
                    padding: 5px; display: inline-block; margin-left: 5px; border-radius: 10px;">{{ boleta.monto_sin_iva|formatear_dinero }}</span>
                </p>
                <p>
                    <span style="font-weight: bold; background-color:red; color: black; border: 2px solid #ac2828; 
                    padding: 5px; display: inline-block; border-radius: 10px; margin-left: 82px;"> IVA: </span> 
                    <span style="background-color:#f38266; color: black; border: 3px solid #ac2828; 
                    padding: 5px; display: inline-block; margin-left: 5px; border-radius: 10px;">{{ boleta.iva|formatear_dinero }}</span>
                </p>
                <p>
                    <span style="font-weight: bold; background-color:red; color: black; border: 2px solid #ac2828; 
                    padding: 5px; display: inline-block; border-radius: 10px; margin-left: 7px; ">Total a Pagar:</span>
                     <span style="background-color:#f38266; color: black; border: 3px solid #ac2828; 
                     padding: 5px; display: inline-block; margin-left: 5px; border-radius: 10px;">{{ boleta.total_a_pagar|formatear_dinero }}</span>
                </p>
            </div>
        </div>
        
        

    {% else %}
    <div class="container">
        <h1 class="text-center titulos">No se puede mostrar la boleta.</h1>
        <div class="row" >
    {% endif %}

    {% if siguiente_boleta %}
    <div class="row mt-3">
        <div class="col-12">
            <a href="{% url 'boleta' siguiente_boleta.nro_boleta %}" class="btn btn-primary">Ver Siguiente Boleta</a>
        </div>
    </div>
{% endif %}


{% endblock content %}
