{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}

  <h1 class="text-center titulos"> Cambia tu contraseña </h1>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6 p-4">

        <form method="POST" id="form" autocomplete="on">
          
          {% csrf_token %}

          <input type="text" id="username" name="username" value="{{ username }}" autocomplete="on" class="d-none">
          {{ form.old_password|as_bootstrap_field }}
          {{ form.new_password1|as_bootstrap_field }}
          {{ form.new_password2|as_bootstrap_field }}
          <br><br><br><br>      
          <div class="text-center">
            <button type="submit" class="btn btn-primary boton_buscar_anonimo_2 text-center"> Actualizar contraseña </button>
          </div>

        </form>

      </div>
    </div>
  </div>

{% endblock content %}

{% block script %}
  <script src="{% static 'core/js/mipassword.js' %}"></script>
{% endblock script %}