{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
    <!-- Contenido de la página-->
    <h1 class="text-center titulos" style="margin: 30px;">Mis Ventas</h1>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-auto">
              <p>
            
                <a class="btn btn-primary boton_buscar_anonimo_2" style="margin-left:15px; color:black; font-size: 24px; padding: 15px 30px; padding-right: 25px; padding-left: 25px;"  href="{% url 'misproductos' 'crear' 'nuevo'%}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" style="color:black;" class="bi bi-capslock" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M7.27 1.047a1 1 0 0 1 1.46 0l6.345 6.77c.6.638.146 1.683-.73 1.683H11.5v1a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1v-1H1.654C.78 9.5.326 8.455.924 7.816zM14.346 8.5 8 1.731 1.654 8.5H4.5a1 1 0 0 1 1 1v1h5v-1a1 1 0 0 1 1-1zm-9.846 5a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1zm6 0h-5v1h5z"/>
                  </svg>
                  Publicacion de productos
                </a>
              </p>  
              
                <br>
                <p>
                    &nbsp;&nbsp;&nbsp;
                   <a class="btn btn-primary boton_buscar_anonimo" style="color:black; font-size: 24px; padding: 15px 30px; padding-right: 40px;"  href="{% url 'ventas'%}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" style="color:black; "class="bi bi-card-checklist" viewBox="0 0 16 16">
                      <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/>
                      <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0M7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0"/>
                    </svg>
                    Historial de mis ventas
                   </a>
                 </p>

              <br>
              <p>
                 &nbsp;&nbsp;&nbsp;
                <a class="btn btn-primary boton_buscar_anonimo_2" style="color:black; font-size: 24px; padding: 15px 30px; padding-right: 20px; padding-left: 20px;"   href="{% url 'coordinacion'%}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" style="color:black" fill="currentColor" class="bi bi-check2-all" viewBox="0 0 16 16">
                    <path d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0"/>
                    <path d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708"/>
                  </svg>
                  Coordinacion restaurante
                </a>
              </p>
              <br>  
            </div>
            <div class="col-sm-12 col-md-6 justify-content-center">
              <img src="{% static 'core/img/misventas.webp' %}" alt="" class="col-md-auto text-md-right" style=" max-width: 400px; margin-left: 200px;">
            </div>
            
        </div>
      </div>
    <br><br>
{% endblock content %}
