{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
   <br><br>
   <div class="container ">
       <h1 class="text-center mb-4 fs-4 titulos">¡¡Concursa por una prenda de vestir!!</h1>
       <h1 class="text-center mb-4 fs-4 titulos">Por compras superiores a $20.000 en productos ya estás participando!</h1>
       <div id="producto" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4"></div>
   </div>
   <br><br>
    <div class="container-fluid" >
        <div id="recuadro-de-ropa" class="row"></div>
    </div>

    <br><br>
    
{% endblock content %}
{% block script %}
  <script src="{% static 'core/js/api_rest.js' %}"></script>
{% endblock script %}