<h1>Aceptación de Términos y Condiciones del Contrato</h1>
<p>
  Estimado(a) {{ first_name }} {{ last_name }},
</p>
<p>
  Te escribimos para confirmar que has aceptado los términos y condiciones del contrato de entregas entre el Sistema y el Restaurante en El Comilon.
</p>
<p>
  Al aceptar este contrato, ambas partes acuerdan cumplir con los términos establecidos y comprometerse a una colaboración efectiva para asegurar un servicio de entregas eficiente y puntual.
</p>
<p>
  Para continuar, por favor inicia sesión en El Comilon con tu cuenta.
</p>
<p>
  Haz click aquí para ingresar a la tienda:
</p>
<p>
  <a href="{{ link_to_login }}"> Iniciar sesión en El Comilon </a>
</p>
<p>
  Si tienes alguna pregunta o necesitas más información sobre este contrato, no dudes en contactarnos.
</p>
<p>
  Saludos cordiales.
</p>
