<h1> Cambia tu contraseña </h1>
<p>
  Estimado(a) {{ first_name }} {{ last_name }}
</p>
<p>
  Se ha generado una nueva contraseña para tu cuenta de Sword Games Shop.
</p>
<p>
  La contraseña provisoria es: <strong>{{ user_password }}</strong>
</p>
<p>
  Para cambiar tu contraseña por otra que puedas recordar mejor, 
  inicia sesión en la tienda de Sword Games Shop con tu cuenta y
  contraseña provisoria. Luego en tu nombre de perfil
  selecciona la opción "Cambiar mi contraseña".
</p>
<p>
  Haz click aquí para ingresar a la tienda:
</p>
<p>
  <a href="{{ link_to_login }}"> Iniciar sesión en Sword Games Shop </a>
</p>
<p>
  En Sword Games Shop estamos siempre trabajando para entregarte
  el mejor servicio.
</p>
<p>
  Saludos.
</p>
